<div class="contaimer">

    <div class="row">


        <div class="col">
            
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src={{selectedCar.imagePath}} class="img-fluid rounded-start" alt="Ressim Yok">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{selectedCar.brandName}}</h5>
                      <p class="card-text">{{selectedCar.dailyPrice}}</p>
                      <p class="card-text"><small class="text-muted">{{selectedCar.colorName}}</small></p>
                    </div>
                  </div>
                </div>
              </div>


        </div>
        
    </div>
</div>
