<div class="container d-flex justify-content-center">

    <div *ngIf="isDatLoaded==false" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>

</div>


<div class="container">
    <div class="row">
        <div class="col">
            <div class="mb-3 m-4">
                <label for="filterText" class="form-label">Araba Ara</label>
                <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
                    placeholder="arama ifadesi giriniz">
            </div>
            <!-- <div *ngIf="filterText" class="alert alert-success m-4">
                {{filterText}} aradiniz
            </div> -->
        </div>
        <div class="col">
            <div class="mb-3 m-4">
                <label for="filterTextColor" class="form-label">Renk Ara</label>
                <input type="text" [(ngModel)]="filterTextColor" class="form-control" id="filterTextColor"
                    placeholder="arama ifadesi giriniz">
            </div>
            <!-- <div *ngIf="filterTextColor" class="alert alert-success m-4">
                {{filterTextColor}} aradiniz
            </div> -->
        </div>

    </div>
</div>


<div class="container">
    <table *ngIf="isDatLoaded" class="table  table-striped table-hover p-4">

        <thead>
            <tr>
                <th>Id</th>
                <th>BrandName</th>
                <th>ColorName</th>
                <th>DailyPrice</th>
                <th>KDV DailyPrice</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let car of carDetails | filterPipe:filterText |filterForColor:filterTextColor">
                <td routerLink="cars/detail/{{car.id}}">{{car.id}}</td>
                <td>{{car.brandName}}</td>
                <td>{{car.colorName}}</td>
                <td>{{car.dailyPrice |currency}}</td>
                <td>{{car.dailyPrice |varAdded:18 |currency }}</td>
                <td> <button (click)="addToCart(car)" [class]="checkAvaliable(car)"  type="button">Kirala</button>
                </td>
            </tr>
        </tbody>
    </table>